<footer> 

   <div class="contenu-footer">

      <div class="blocf footer-services">
         <h3> Nos services </h3>
            <ul class="liste-services">
               <li> Ventes en lignes </li>
               <li> Livraison gratuite </li>
               <li> Retrait en magasin </li>
            </ul>
      </div>

      <div class="blocf footer-contact">
         <h3> Contactez-nous </h3>
         <p> 06 78 53 73 15 </p>
         <p> book.land@gmail.com </p>
         <p> 51 Avenue de Rochetaillée, 42100 Saint-Etienne
      </div>

      <div class="blocf footer-horaires">
         <h3> Les horaires </h3>
            <ul class="liste-horaires">
               <li> ✅ Lun 9h-17h </li>
               <li> ✅ Mar 9h-17h </li>
               <li> ✅ Mer 9h-17h </li>
               <li> ✅ Jeu 9h-17h </li>
               <li> ✅ Ven 9h-17h </li>
               <li> ❌ Sam fermé </li>
               <li> ❌ Dim fermé </li>
            </ul>
      </div>

      <div class="blocf footer-medias">
         <h3> Nos réseaux sociaux</h3>
            <ul class="liste-medias">
               <li><a href="https://www.pinterest.fr/riosbrice/"><img src="/assets/icons/pinterest.svg" alt="Réseaux sociaux" class="IconRéseau"> Pinterest </a> </li>              
               <li><a href="https://twitter.com/home"><img src="/assets/icons/x-twitter.svg" alt="Réseaux sociaux" class="IconRéseau"> X </a></li>
               <li><a href="https://www.instagram.com/brice_0801/"><img src="/assets/icons/instagram.svg" alt="Réseaux sociaux" class="IconRéseau"> Instagram</a></li>
            </ul>
      </div>

   </div>

</footer>
