{% extends 'base.html.twig' %}

{% block title %} A Propos {% endblock %}

{% block body %}

 <img src="/assets/images/Book.jpg" alt="" class="imgAPropos">
 
 <h1> BOOKLAND, QUI SOMMES-NOUS ?</h1>

 <p class="ParagrapheAbout"> Bienvenue dans l'univers de BookLand, où chaque page tourne une nouvelle aventure et <br>
     chaque couverture abrite un monde d'imagination. Notre histoire a commencé avec une <br> 
     passion profonde pour les livres et une vision audacieuse de les rendre accessibles à tous, <br>
     où que vous soyez. <br><br>

     Lorsque nous avons créé BookLand, nous avions en tête un rêve : celui de connecter <br> 
     les amoureux de la lecture du monde entier avec leurs prochains coups de cœur littéraires. <br>
     Inspirés par le pouvoir transformateur des mots imprimés, nous avons voulu créer un espace <br>
     où chaque lecteur pourrait trouver un compagnon littéraire qui résonne avec son âme. <br><br>

     Nos racines remontent aux étagères de librairies traditionnelles, où nous avons découvert <br> 
     le bonheur de parcourir des étagères remplies d'histoires en attente d'être découvertes. <br>
     Nous avons ressenti le frisson de la découverte d'un nouveau monde entre les pages, <br>
     et c'est cet enthousiasme que nous souhaitons partager avec vous.  <br><br>

    Au fil du temps, nous avons évolué pour devenir un guichet unique pour tous vos besoins littéraires. <br>
    Notre collection soigneusement sélectionnée de livres englobe une multitude de genres, <br>
    des classiques intemporels aux derniers best-sellers. Chaque titre est choisi avec amour <br>
    pour vous offrir une expérience de lecture inoubliable. <br><br>

    Chez BookLand, notre mission va au-delà de la simple vente de livres. Nous voulons encourager <br> 
    la curiosité, l'épanouissement intellectuel et la créativité. Nous croyons en la magie de partager <br>
    des récits, en la capacité des mots à briser les barrières et à inspirer des conversations profondes. <br><br>

    Notre équipe est composée de passionnés de littérature, de bibliophiles et de rêveurs. <br>
    Chaque livre que nous proposons est choisi avec dévouement et enthousiasme, dans l'espoir <br>
    qu'il trouvera sa place dans votre cœur et sur votre étagère. <br><br>

    Que vous soyez un voyageur passionné, un explorateur de mondes fantastiques ou un amateur <br>
    de connaissances, BookLand est là pour vous accompagner dans chaque chapitre de votre vie. <br> 
    Explorez nos allées virtuelles, découvrez de nouveaux horizons et plongez dans des récits captivants. <br>
    Bienvenue dans notre communauté littéraire, où chaque livre a une histoire et chaque lecteur, <br> 
    une aventure à vivre. <br><br>

    Bienvenue à BookLand, où les histoires prennent vie. </p>

{% endblock %}
