{% extends 'base.html.twig' %}

{% block title %} A Propos {% endblock %}

{% block body %}
 
 <h1> Qui sommes-nous ? </h1>

 <img src="/assets/images/Book.jpg" alt="" class="imgAPropos">

{% endblock %}
