{% extends 'base.html.twig' %}

{% block title %} A Propos {% endblock %}

{% block body %}

 {# <img src="/assets/images/Book.jpg" alt="" class="imgAPropos">  #}
 
 <h1 class="TitreAbout">  BOOKLAND, QUI SOMMES-NOUS ? </h1>

 <div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="ParagrapheAbout">
        Bienvenue dans <span> l'univers de BookLand </span>, où chaque page tourne une nouvelle aventure et
        chaque couverture abrite un monde d'imagination. <br> <span> Notre histoire </span> a commencé avec une
        <span> passion profonde </span> pour les livres et une <br> vision audacieuse de les rendre accessibles à tous,
        où que vous soyez. <br><br>

        Lorsque nous avons créé <span> BookLand </span>, nous avions en tête un rêve : <br> celui de <span> connecter
        les amoureux de la lecture </span> du monde entier avec leurs prochains coups de cœur littéraires.
        Inspirés par le pouvoir transformateur des mots imprimés, nous avons voulu créer un espace
        où chaque lecteur pourrait trouver un compagnon littéraire qui résonne avec son âme. <br><br>

        <span> Nos racines </span> remontent aux étagères de librairies traditionnelles, où nous avons découvert
        le bonheur de parcourir des étagères remplies d'histoires en attente d'être découvertes.
        Nous avons ressenti le frisson de la découverte d'un nouveau monde entre les pages,
        et c'est cet enthousiasme que nous souhaitons <span> partager </span> avec vous. 
      </p>
    </div>
    <div class="col-md-6">
      <p class="ParagrapheAbout">
      
        Au fil du temps, nous avons évolué pour devenir un guichet unique pour tous vos besoins littéraires.
        Notre <span> collection </span> soigneusement sélectionnée de livres englobe une multitude de genres,
        des <span> classiques intemporels </span> aux derniers <span> best-sellers </span>. Chaque titre est choisi avec amour
        pour vous offrir une expérience inoubliable. <br><br>

        Chez <span> BookLand </span>, notre mission va au-delà de la simple vente de livres. Nous voulons encourager
        la <span> curiosité </span>, <span> l'épanouissement intellectuel </span> et la <span> créativité </span>. Nous croyons en la magie de partager
        des récits, en la capacité des mots à briser les barrières et à inspirer des conversations profondes. <br><br>

        Notre équipe est composée de passionnés de <span> littérature </span>, de <span> bibliophiles </span> et de <span> rêveurs </span>. 
        Chaque livre que nous proposons est choisi avec dévouement et enthousiasme, dans l'espoir 
        qu'il trouvera sa place dans votre cœur et sur votre étagère. <br><br>

        <span class="colorText"> Bienvenue à BookLand, où les histoires prennent vie. </span>
      </p>
    </div>
  </div>
</div>


{% endblock %}
