{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1 class="reset_password">Réinitialisation de mot de passe</h1>
            {{ form_start(passForm) }}
                {{ form_row(passForm.plainPassword) }}
                <button type="submit" class="btn btn-secondary">Envoyer</button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section>

{% endblock %}
