@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

/* body {
    display: flex;
    flex-direction: column;
} */

/* B A R R E  G R E E N */

.barregreen {
    background-color: #40826D;
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
}

/* FIN B A R R E  G R E E N */

/* N A V B A R  */

nav {
    background-color: #E9D2C0;
    color: white;
}

a {
    color: white;
}

.Panier {
    width: 25px;
    height: 25px;

}


/* FIN N A V B A R  */

/* P A G I N A T I O N */

.row {
    justify-content: center;
}

.page-item {
    margin-left: 5px;
    margin-right: 5px;
}

.pagination {
    justify-content: center;
}

/* F O O T E R */

footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background-color: #40826D;
    color: white;
}

.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* aligner en haut */
    padding: 50px 0 100px;
}

.blocf {
    width: 25%;
  
}

.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

.liste-services,
.liste-horaires,
.liste-medias {
    list-style-type: none;
}

.liste-services li {
    padding: 2px 0;
}

.liste-services a {
    text-decoration: none;
}

.liste-medias img {
    width: 25px;
    margin: 10px 10px;
    fill: white;
}

.liste-medias a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
}

/* .IconRéseau {
    width: 10px;
    color: white;
} */

@media screen and (max-width: 1300px) {
    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }

    .blocf {
        width: 40%;
        margin: 0 0;
    }

    .blocf:nth-child(1),
    .blocf:nth-child(2) {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .contenu-footer {
        width: 320px;
    }

    .blocf {
        width: 300px;
        margin: 30px 30px;
    }

    .blocf:nth-child(1),
    .blocf:nth-child(2) {
        margin-bottom: 30px;
    }

    .blocf:nth-child(1) {
        margin-top: 0;
    }
}

/* FIN F O O T E R */


/* A C C U E I L */

.f {
    justify-content: center;
    display: flex;
}

.Bannière {
    width: 50%;
    margin-top: 2%;
    border-radius: 20px;
}

.col-4 {
    width: 15%;
    height: 40%;
    margin-top: 20px;
    border-radius: 20px;
    background: #E9D2C0;
    margin: 20px;
    color: #FFF;
    font-size: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 30px;
}

.offre {
    margin-top: 30px;
}

.iconoffre {
    width: 30px;
    height: 35px;
    margin-top: 20px;
}

/* FIN A C C U E I L */

/* C A T É G O R I E */

.titreCatégorie {
    text-align: center;
    margin-top: 20px;
    font-family: 'Itim', cursive;
}

/* FIN C A T É G O R I E */

/* P R O D U I T */

.PasImage {
    background-color: #E9D2C0; 
}


/* FIN P R O D U I T */

/* D É T A I L S  P R O D U I T S */

.blocdétails {
    background-color: #F5F5F5;
    padding: 30px;
}

/* FIN D É T A I L S  P R O D U I T S */

/* A  P R O P O S */

.TitreAbout {
    text-align: center;
    margin-top: 30px;
    font-family: 'Itim', cursive;
}

.ParagrapheAbout {
    margin-top: 20px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

span {
    color:#40826D;
    font-weight: 700;
}

/* FIN A P R O P O S */

/* C O N T A C T */

.Map {
    text-align: center;
    margin-top: 30px;
}

.Map iframe {
    display: block;
    margin: 0 auto;   
}

/* FIN C O N T A C T */

/* I N S C R I P T I O N */

.Inscription {
    text-align: center;
    margin-top: 20px;
    font-family: 'Itim', cursive;
}

.formInscription {
    background-color: #F5F5F5;
    margin-top: 20px;
    padding: 30px;
}


/* FIN I N S C R I P T I O N */

/* C O N N E C T I O N */

.Connection {
    text-align: center;
    margin-top: 20px;
    font-family: 'Itim', cursive;
}

.formConnection {
    background-color: #F5F5F5;
    margin-top: 20px;
    padding: 30px;
}

/* FIN C O N N E C T I O N */

/* P R O F I L */

.Profil {
    text-align: center;
    margin-top: 20px;
    font-family: 'Itim', cursive;
}

.formProfil {
    background-color: #F5F5F5;
    margin-top: 20px;
    padding: 30px;
}

/* FIN P R O F I L */