{% extends 'base.html.twig' %}

{% block title %} Contactez-nous {% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <form method="post">

                <h1 class="Connection"> Contactez-nous </h1>

                <div class="formConnection">


                   <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> Nom </label>
  <input type="name" class="form-control" id="exampleFormControlInput1">
</div>

                   <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"> Email </label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Commentaire</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
            
                </div>
            </form>        
        </div>
    </div>
</section>

{% endblock %}
